<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Principal</title>
<meta charset="utf-8">
<meta name="keywords" content="chat, social, amigos">
<meta name="viewport" content="width=device−width; initial−scale=1.0; maximum-scale=1.0; minimum.scale=1.0;">

<link rel="stylesheet", href="stylesheets/index.css"></link>
<link rel='icon' href='https://res.cloudinary.com/djlzeapiz/image/upload/v1544741360/favicon.ico'></link>
</head>
<body>
    <header class="header">
        <div class="header-container logo-nav-container">
            <h1 class="logo"> Neki </h1>
            <nav class="navigation">
                <ul>
                    <li><span class="clickable">Mi actividad</span></li>
                    <li><span class="clickable">Mi cuenta</span></li>
                    <li><span id="salir" class="clickable">Salir</span></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-w main-p">
        <div class="board border">
            <textarea class='pub_txt' id='pubContent' placeholder='TEXTO'></textarea>
            <input id='pubSender' type='button' name='' value='Enviar'/>
        </div>
        <div id="publications"></div>
        <div id="SC_TBlock_629423" class="SC_TBlock">loading...</div>
    </main>

    <section class="r-section r-section-p r-section-w">
      <div class="search-container">
        <input id="searchU" type="text" name="" value="" placeholder="Buscar">
      </div>
      <div id="searchResults"></div>
    </section>

    <script src="scripts/home.js"></script>
    <script type="text/javascript">
        (sc_adv_out = window.sc_adv_out || []).push({
            id : "629411",
            domain : "n.ads1-adnow.com"
        });
    </script>
    <script type="text/javascript" src="//st-n.ads1-adnow.com/js/a.js"></script>
</body>
</html>
