<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Inicio</title>
<meta charset="utf-8">
<meta name="keywords" content="chat, social, amigos">
<meta name="viewport" content="width=device−width; initial−scale=1.0; maximum-scale=1.0; minimum.scale=1.0;">

<link rel="stylesheet", href="stylesheets/index.css"></link>
<link rel='icon' href='https://res.cloudinary.com/djlzeapiz/image/upload/v1544741360/favicon.ico'></link>
</head>
<body>
    <header>
        <h1> Neki </h1>
    </header>
    <main class="main-w main-p">
        <div class="board border">
            <textarea class='pub_txt' id='pubContent' placeholder='TEXTO'></textarea>
            <input id='pubSender' type='button' name='' value='Enviar'/>
        </div>
        <div id="publications"></div>
    </main>
    <script type="text/javascript" src="https://www.sparechange.io/static/sparechange.js"></script>
    <script src="scripts/socket.io.js"></script>
    <script src="scripts/home.js"></script>
</body>
</html>

