<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Ingresar</title>
<meta charset="utf-8">
<meta name="keywords" content="chat, social, amigos">
<meta name="viewport" content="width=device−width; initial−scale=1.0; maximum-scale=1.0; minimum.scale=1.0;">
<link rel="stylesheet", href="stylesheets/access.css"></link>
<link rel='icon' href='https://res.cloudinary.com/djlzeapiz/image/upload/v1544741360/favicon.ico'></link>
</head>
<body>
    <h1> Neki </h1>
    <a href='/registrar'> Crear cuenta </a>
    <h3> Welcome to Neki Login Page </h3>

<div id="main">
    <div class="panel">
        <label> Correo </label>
        <input id="correo" class="el" type="text" name="correo"></input>
        <label> Contraseña </label>
        <input id="clave" class="el" type='password' name='clave'></input>
        <input id="send" class="elb" type='button', name='siguiente1' value='Enviar'></input>
    </div>
    <script src="scripts/iniciar.js"></script>
</div>
</body>
</html>
