*{padding: 0px; margin: 0px; border: 0; vertical-align: baseline; }

header {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: fixed;
  width: 100%;
}

h1 { margin: 10px 20px;}

.font{
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}

input[type="button"]{
    color: black;
    padding: 2px 5px;
    margin: 15px 8px 5px;
    background-color: white;
    cursor: pointer;
}

.time1{
    font-size: 9px;
    margin: 2px;
}

.enlace1{
    text-decoration: none;
}

/******************************** Main Section ********************************/

main{
    position: relative;
    top: 60px;
}

.border{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 3px;
    padding: 8px 0;
}

/************* Board *************/
.pub_txt {
    width: 100%;
    border-style:none;
    /*color: white;*/
    /*background-color: #313131;*/
    resize:none;
    overflow: hidden;
}

.board{ margin-bottom: 5px; padding: 10px 5px 5px;}

/****** Publications ******/

.pubs{
    padding: 3px;
    margin-bottom: 5px;
}

.content{
    margin: 2px;
}

.reacciones {
    margin: 0 10px;
    font-size: 11px;
    cursor: pointer;
}

/************* GRID **************/
/*corto*/
@media only screen and (min-width: 368px) {
    .main-w{width: 100%;}
    .main-p{position: relative; left: 0%;}
}
/*Mediano*/
@media only screen and (min-width: 568px) {
    .main-w{width: 61%;}
    .main-p{position: relative; left: 0%;}
}
/*Largo*/
@media only screen and (min-width: 768px) {
    .main-w{width: 49%;}
    .main-p{position: relative; left: 22%;}
}
/*Extra largo*/
@media only screen and (min-width: 968px) {
    .main-w{width: 38.8%;}
    .main-p{position: relative; left: 18.4%;}
}




/*********************/
a{color: black;
    text-decoration: none;
    float: right;
    margin: 0 15px; }