*{padding: 0; margin: 0; border: 0; vertical-align: baseline; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}

/**HEADER*/
.header {

  position: fixed;
  width: 100%;
  padding: 0.5rem;
}

.header-container {
    width: 85%;
    margin: 0 auto;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    letter-spacing: 2px;
    font-size: 2em;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li {
        display: inline-block;
    }

        .navigation ul li span {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 3px;
        }
            .navigation ul li span:hover {
                background-color: black;
                color: white;
            } 

/************/
.font{
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}

input[type="button"]{
    color: black;
    padding: 2px 5px;
    margin: 15px 8px 5px;
    background-color: white;
    cursor: pointer;
}

.time1{
    font-size: 9px;
    margin: 5px;
}

.enlace1{
    text-decoration: none;
    font-weight: 600;
}

/******************************** Main Section ********************************/

main{
    position: relative;
    top: 70px;
}

.border{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 3px;
    padding: 8px 0;
}

/************* Board *************/
.pub_txt {
    width: 100%;
    border-style:none;
    /*color: gray;*/
    /*background-color: #313131;*/
    resize:none;
    overflow: hidden;
}

.board{ margin-bottom: 5px; padding: 10px 5px 5px;}

#img_btn {
    cursor: pointer;
}

.image_target {
    margin: 5px;
    height: 70%;
    margin: 0 auto;
}

.image_target_container {
    position: relative;
    top: 0;
    width: 70%;
    margin: 0 auto;
    display: flex;
    background-color: black;
    border-radius: 4px;
}

.divOut {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
}

#load_image{
    display: none;
}

/****** Publications ******/

.pubs{
    padding: 8px;
    margin-bottom: 5px;
}

.content{
    margin: 10px 0;
    color: #272727;
}

.reacciones {
    margin: 0 10px;
    font-size: 11px;
    cursor: pointer;
}

/***************************** Right Section **********************************/
.r-section {
  padding: 8px;
}

.r-section-p {
  position: fixed;
  left:0;
  top: 70px;
}

.searchText {
  color: gray;
  cursor: pointer;
}

#searchU {
    position: relative;
    width: 100%;
}

.friend {
    margin: 2px;
    color: #59a2f5;
    cursor: pointer;
}

/**video*/
.embed-container {
height:0;
margin-bottom:18px;
overflow:hidden;
padding-bottom:56.25%; /* 16/9 ratio */
position:relative;
min-width: 250px;
}

/**Adapta video embed*/
.embed-container iframe,
.embed-container object,
.embed-container embed {
    height:100% !important;
    left:0;
    position:absolute;
    top:0;
    width:100% !important;
}

/************* GRID **************/
/*corto*/
@media only screen and (min-width: 368px) {
    .main-w{width: 100%;}
    .main-p{position: relative; left: 0%;}
    .r-section-w{ width: 90%; display: none;}
}
/*Mediano*/
@media only screen and (min-width: 428px) {
    .main-w{width: 81%;}
    .main-p{position: relative; left: 0%;}
    .r-section-w{ width: 80%; display: none;}

}
/*Mediano*/
@media only screen and (min-width: 568px) {
    .main-w{width: 71%;}
    .main-p{position: relative; left: 0%;}
    .r-section-w{ width: 80%; display: none;}

}
/*Largo*/
@media only screen and (min-width: 768px) {
    .main-w{width: 49%;}
    .main-p{position: relative; left: 20%;}
    .r-section-w{ width: 19%; display: block; }
}
/*Extra largo*/
@media only screen and (min-width: 968px) {
    .main-w{width: 38.8%;}
    .main-p{position: relative; left: 17%;}
    .r-section-w{ width: 16%; display: block; }
}




/*********************/
a{  color: black;
    text-decoration: none;
 }

 .clickable {
    cursor: pointer;
 }


 /**************/
 .menuOut {
     position: absolute;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
 }

 #menuContextOptions {
    position: absolute;
    padding: 5px 0;
    border-radius: 4px;
    background-color: white;
    z-index: 104;
}

.optionsMenuEl{
    transition: all 0.2s linear;
    padding: 10px;
    display: block;
    cursor: pointer;
}

.optionsMenuEl:hover {
    background-color: #c44569;
    color: white;
}

.notif {
    padding: 15px;
    position: absolute;
    top: 50px;
    right: 15px;
    min-width: 50px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}